@import 'src/styles/variables';

.rangeFilterContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: $filterSingleElementBottomMargin;

  .lineContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
      width: 100%;
      margin: 0 10px 0 10px;
      background-color: $darkGrey;
      border: none;
      height: 1px;
    }
  }
}
