@import 'src/styles/variables';

.checkBoxContainer {

  .selectAll {
    color: $darkGrey;
    font-size: 13px;
    margin-top: -15px;

    &:hover {
      cursor: pointer;
    }
  }

  .checkboxElement {
    margin-bottom: $filterSingleElementBottomMargin;
  }
}

