@import 'src/styles/variables';

.sideFiltersCategorySelector {
  border-bottom: 1px solid $lightGrey;;

  .categoryData {
    margin: $filtersMargin 0 $filtersMargin $filtersMargin;
    .subcategoryData {
      margin-left: $filtersMargin;
    }
  }
}
