@import 'src/styles/variables';

$borderRadiusValue: 20px;

.search {
  display: flex;
  align-items: center;
  flex-direction: row;

  .searchInputContainer {
    border: 1px solid $midGrey;
    border-radius: $borderRadiusValue;
    padding: 0 0 0 8px;
    width: 25%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchInput {
      border: 0;
      width: 100%;
      height: 80%;
      outline: none;
      caret-color: black;
    }

    .emptySearchInput {
      @extend .searchInput;
      color: $midGrey;
    }

    .searchButtonContainer {
      background-color: #2F4F4F;
      color: white;
      width: 20%;
      height: 100%;
      border-radius: $borderRadiusValue;
      justify-content: center;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: black;
      }
    }
  }
}
