@import 'src/styles/variables';

.subTitleDataContainer {

  a {
    font-size: 14px;
    color: $darkGrey;
  }

  .producerValue {
    @extend a;
    font-weight: bold;
  }

  .separator {
    padding: 0 8px 0 8px;
  }
}
