@import 'src/styles/variables';

.routeList {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $darkGrey;
  font-size: 15px;
  margin-left: 20px;

  .routeElementContainer {
    display: flex;
    flex-direction: row;
  }
}
