@import 'src/styles/variables';

.searchDetailsLineContainer {
  display: flex;
  justify-content: center;

  .line {
    width: 90%;
    margin: 20px 0 20px 0;
    background-color: $lightGrey;
    border: none;
    height: 1px;
  }
}
