$darkGrey: #505050;
$midGrey: #C0C0C0;
$lightGrey: #DCDCDC;
$veryLightGrey: #f9f9f9;
$lighterGrey: #ececec;
$lighterGreyOnHover: #dfdfdf;

$searchDetailsHeight: 50px;
$searchDetailsInputPadding: 8px;

$filterSingleElementBottomMargin: 10px;
