@import 'src/styles/variables';
@import 'src/styles/classes';

.searchDetailsContainer {
  .lineContainer {
    @extend .searchDetailsLineContainer;
  }

  .searchDetailsHeader {
    display: flex;
    flex-direction: row;

    .detailsContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 90%;
    }
  }
}
