@import 'src/styles/variables';
@import 'src/styles/classes';

.searchDetailsContainer {
  .lineContainer {
    @extend .searchDetailsLineContainer;
  }

  .searchDetailsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .detailsSearchContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
}
