@import 'src/styles/variables';

.searchDetailsContainer {
  .lineContainer {
    display: flex;
    justify-content: center;

    .line {
      width: 90%;
      margin: 20px 0 20px 0;
      background-color: $lightGrey;
      border: none;
      height: 1px;
    }
  }

  .searchDetailsHeader {
    display: flex;
    flex-direction: row;

    .detailsContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 90%;
    }
  }
}
