.searchHeader {
  min-height: 80px;
  display: grid;
  grid-template-rows: 50% 50%;
  margin-bottom: 25px;
  margin-top: 25px;

  .routeTitleContainer {
    display: flex;
    flex-direction: row;
  }
}
