.header {
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-height: 55px;
  position: sticky;
  top: 0;
  z-index: 999;

  display: grid;
  grid-template-columns: 15% 85%;
}
