@import 'src/styles/variables';

.sideFilters {
  display: flex;
  justify-content: center;

  .sideFiltersContainer {
    min-width: 300px;
    border-radius: 20px;
    border: 1px solid $lightGrey;
    padding-bottom: 30px;
  }
}
