@import 'src/styles/variables';

.sideFilters {
  display: flex;
  justify-content: center;

  .sideFiltersContainer {
    width: 65%;
    border-radius: 20px;
    border: 1px solid $lightGrey;
  }
}
